.index {
    background-image: url("../img/kanto-map.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Quintessential', cursive;
}

.index a {
    text-decoration: none;
    color: white;
}

h1 {
    text-align: center;
}

span {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;
    border-radius: 1px;
}

img {
    width: 35%;
}


/* ditto.html */

.ditto {
    background-color: rgba(0, 207, 214, 0.397);
    font-family: 'Quintessential', cursive;
}

.ditto a {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: red;
    border-radius: 5px;
}

#enlace {
    text-align: center;
}

.ditto img {
    width: 40%;
}

.ditto span {
    background-color: grey;
    padding: 2px;
    border-radius: 5px;
    color: white;
}


/* dragonite.html */

.dragonite {
    font-family: 'Quintessential', cursive;
    background-color: rgba(0, 207, 214, 0.397);
}

.dragonite a {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: red;
    border-radius: 5px;
    text-align: center;
}

.dragonite #tipo1 {
    background-color: purple;
    padding: 2px;
    border-radius: 5px;
}

.dragonite #tipo2 {
    background-color: grey;
    padding: 2px;
    border-radius: 5px;
    color: white;
}


/* mewtwo.html */

.mewtwo {
    background-color: rgba(0, 207, 214, 0.397);
    font-family: 'Quintessential', cursive;
}

.mewtwo a {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: red;
    border-radius: 5px;
    text-align: center;
}

.mewtwo img {
    width: 40%;
}

.mewtwo #tipo1 {
    background-color: pink;
    padding: 2px;
    border-radius: 5px;
}

.mewtwo #tipo2 {
    background-color: rgb(241, 0, 40);
    padding: 4px;
    border-radius: 6px;
}


/* moltres.html */

.moltres {
    background-color: rgba(0, 207, 214, 0.397);
    font-family: 'Quintessential', cursive;
}

.moltres a {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: red;
    border-radius: 5px;
    text-align: center;
}

.moltres span {
    background-color: orange;
    padding: 2px;
    border-radius: 5px;
}


/* Media query para el diseño responsive */

@media only screen and (max-width: 600px) {
    .index img,
    .ditto img,
    .dragonite img,
    .mewtwo img,
    .moltres img {
        width: 100%;
    }
}