<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Ditto</title>
    <link rel="shortcut icon" href="../img/ditto.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: rgba(0, 207, 214, 0.397);
        }
        
        a {
            text-decoration: none;
            color: white;
            padding: 10px;
            background-color: red;
            border-radius: 5px;
        }
    </style>
</head>

<body style="font-family: 'Quintessential', cursive;">
    <h1>ditto</h1>
    <img width="40%" src="../img/ditto.png" alt="ditto">
    <p>tipo: <span style="background-color: grey; padding: 2px;border-radius: 5px; color: white;">normal</span></p>
    <br>
    <b>Descripcion</b>
    <p>Redistribuye las células de su cuerpo para cobrar la apariencia de lo que ve, pero vuelve a la normalidad al relajarse.</p>
    <p style="text-align: center;"><a href="../index.html">Pagina principal</a></p>
</body>

</html>