<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | dragonite</title>
    <link rel="shortcut icon" href="../img/dragonite.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body class="dragonite">
    <h1>dragonite</h1>
    <img src="../img/dragonite.png" alt="dragonite">
    <p>tipo: <span id="tipo1">dragon</span> y <span id="tipo2">normal</span></p>
    <br>
    <b>Descripcion</b>
    <p>DragonitePuntos de base PS Ataque Defensa Ataque Especial Defensa Especial Velocidad> Un Pokémon bondadoso y compasivo al que le resulta imposible dar la espalda a Pokémon o humanos que se encuentren a la deriva.</p>
    <p id="enlace"><a href="../index.html">Pagina principal</a></p>
</body>

</html>